<div id="at_header">
    <div class="row">
        <div class="medium-4 columns">
            <div class="at_logo_container">
                {{#if @blog.logo}}
                    <a href="{{@blog.url}}"><img class="at_logo_img" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                    {{else}}
                        <a href="{{@blog.url}}">
                {{/if}}
                    <span class="at_logo_text">{{@blog.title}}</span></a>
            </div>
        </div>
        <div class="medium-4 columns text-right hide-for-small-only">
            <div class="at_icon_menu">
                <a class="at_icon_menu_item" href="http://about.me/andrewbashore" target="_blank" data-tooltip class="has-tip" title="About"><span class="fa fa-user"></span></a>
                <a class="at_icon_menu_item" href="http://twitter.com/bgeorge" target="_blank" data-tooltip class="has-tip" title="Twitter"><span class="fa fa-twitter"></span></a>
                <a class="at_icon_menu_item" href="https://www.google.com/+AndrewBashore" target="_blank" data-tooltip class="has-tip" title="Google+"><span class="fa fa-google-plus"></span></a>
                <a class="at_icon_menu_item" href="http://www.linkedin.com/pub/andrew-bashore/23/1b8/187" target="_blank" data-tooltip class="has-tip" title="LinkedIn"><span class="fa fa-linkedin"></span></a>
                <a class="at_icon_menu_item" href="http://bitbucket.com/bashtech" target="_blank" data-tooltip class="has-tip" title="Bitbucket"><span class="fa fa-bitbucket"></span></a>
                <a class="at_icon_menu_item" href="http://twitch.tv/george" target="_blank" data-tooltip class="has-tip" title="Twitch"><span class="fa fa-gamepad"></span></a>
            </div>
        </div>
        <div class="medium-4 columns">
            {{> widgets/at_search }}
        </div>
    </div>
</div>
